/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Green {
  background: #000000;
}
/* .Green {
  background: #11222a;
} */

.text-black {
  color: #050c0e;
}
.bg-l-green {
  background: #afe351;
}
.text-l-green {
  color: #afe351;
}
.bgreen {
  background: #7fe15e;
}

.box-bg-t {
  background: #20454f38;
}
.box-bg {
  background: #20454f;
}

.hr {
  filter: hue-rotate(287deg) !important;
  transform: scale(1) !important;
  object-position: 48% 2% !important;
}
